:root {
  --main-background: #333333;
  --secondary-background: #444444;
  --card-border-color: #cebf7b;
  --color: #e0e0e0;

  box-sizing: border-box;
}

html {
  background-color: var(--main-background);
  color: var(--color);
}

html, body {
  margin: 0;
}

